button.css-1x8cf1d.edgvbvh10 {
  background-color: #1F3D7C;
  border: 2px solid #06BBCC;
  color: white;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;

}

div.appview-container.css-1wrcr25.egzxvld6
{background-color: white;}
section.main.css-k1vhr4.egzxvld5{
  background-color: #ffffff;
}

div.element-container.css-1nee1hp.e1tzin5v3{
  background-color: #ffffff;
}
div.element-container.css-12fxzqp.e1tzin5v3{
  background-color: #ffffff;
}
span.css-10trblm.e16nr0p30{
  color: #201f1f;
  font-style: #201f1f;
}

body{
  color: #201f1f;
  font-style: #201f1f;
}
center{
  color: #201f1f;
  font-style: #201f1f;
}

/* st-bk st-c5 st-c6 st-c7 st-c8 st-c9 st-ca st-cb st-cc st-cd st-ce st-b8 st-cf st-cg st-ch st-ci st-cj st-ck st-cl st-cm st-ae st-af st-ag st-cn st-ai st-aj st-c4 st-co st-cp st-cq st-cr st-cs st-ct */
textarea.st-bk.st-c5.st-c6.st-c7.st-c8.st-c9.st-ca.st-cb.st-cc.st-cd.st-ce.st-b8.st-cf.st-cg.st-ch.st-ci.st-cj.st-ck.st-cl.st-cm.st-ae.st-af.st-ag.st-cn.st-ai.st-aj.st-c4.st-co.st-cp.st-cq.st-cr.st-cs.st-ct{
  background-color: #C2DFFF;
  border: 2px solid #06BBCC;
  color: #353131;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
}
textarea.st-bh.st-c2.st-c3.st-c4.st-c5.st-c6.st-c7.st-c8.st-c9.st-ca.st-cb.st-b8.st-cc.st-cd.st-ce.st-cf.st-cg.st-ch.st-ci.st-cj.st-ae.st-af.st-ag.st-ck.st-ai.st-aj.st-c1.st-cl.st-cm.st-cn.st-co.st-cp.st-cq {
  background-color: #C2DFFF;
  border: 2px solid #06BBCC;
  color: #353131;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
}
textarea.st-c2.st-cn.st-co.st-cp.st-cq.st-cr.st-cs.st-ct.st-cu.st-cv.st-cw.st-b8.st-cx.st-cy.st-cz.st-d0.st-d1.st-d2.st-d3.st-d4.st-ae.st-af.st-ag.st-d5.st-ai.st-aj.st-cm.st-d6.st-d7.st-d8.st-d9.st-da.st-db {
  background-color: #C2DFFF;
  border: 2px solid #06BBCC;
  color: #353131;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
}
textarea.st-bl.st-c6.st-c7.st-c8.st-c9.st-ca.st-cb.st-cc.st-cd.st-ce.st-cf.st-b8.st-cg.st-ch.st-ci.st-cj.st-ck.st-cl.st-cm.st-cn.st-ae.st-af.st-ag.st-co.st-ai.st-aj.st-c5.st-cp.st-cq.st-cr.st-cs.st-ct.st-cu {
  background-color: #C2DFFF;
  border: 2px solid #06BBCC;
  color: #353131;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
}
textarea.st-bn.st-c8.st-c9.st-ca.st-cb.st-cc.st-cd.st-ce.st-cf.st-cg.st-ch.st-b8.st-ci.st-cj.st-ck.st-cl.st-cm.st-cn.st-co.st-cp.st-ae.st-af.st-ag.st-cq.st-ai.st-aj.st-c7.st-cr.st-cs.st-ct.st-cu.st-cv.st-cw {
  background-color: #C2DFFF;
  border: 2px solid #06BBCC;
  color: #353131;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
}
textarea.st-bd.st-by.st-bz.st-c0.st-c1.st-c2.st-c3.st-c4.st-c5.st-c6.st-c7.st-b8.st-c8.st-c9.st-ca.st-cb.st-cc.st-cd.st-ce.st-cf.st-ae.st-af.st-ag.st-cg.st-ai.st-aj.st-bx.st-ch.st-ci.st-cj.st-ck.st-cl.st-cm {
  background-color: #C2DFFF;
  border: 2px solid #06BBCC;
  color: #353131;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
}
textarea.st-bj.st-c4.st-c5.st-c6.st-c7.st-c8.st-c9.st-ca.st-cb.st-cc.st-cd.st-b8.st-ce.st-cf.st-cg.st-ch.st-ci.st-cj.st-ck.st-cl.st-ae.st-af.st-ag.st-cm.st-ai.st-aj.st-c3.st-cn.st-co.st-cp.st-cq.st-cr.st-cs{
  background-color: #C2DFFF;
  border: 2px solid #06BBCC;
  color: #353131;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
}
textarea.st-be.st-bz.st-c0.st-c1.st-c2.st-c3.st-c4.st-c5.st-c6.st-c7.st-c8.st-b8.st-c9.st-ca.st-cb.st-cc.st-cd.st-ce.st-cf.st-cg.st-ae.st-af.st-ag.st-ch.st-ai.st-aj.st-by.st-ci.st-cj.st-ck.st-cl.st-cm.st-cn {
  background-color: #C2DFFF;
  border: 2px solid #06BBCC;
  color: #353131;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
}
/* textarea {
  background-color: #C2DFFF;
  border: 2px solid #06BBCC;
  color: #353131;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
} */
button.css-pg12qu.edgvbvh10{
  background-color: #C2DFFF;
  border: 2px solid #06BBCC;
  color: #353131;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
}
section.css-2ho5o1.exg6vvm15{
  background-color: #C2DFFF;
  border: 2px solid #1F3D7C;
  color: white;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
}
div.dvn-scroller.glideDataEditor{
  color:#06BBCC;
  font-style: #353131;
}
div.css-1fttcpj.exg6vvm11{
  color: #353131;
}
small.css-7oyrr6.euu6i2w0{
  color: #353131;
}
p{
  color: #353131;
  
}
li{
  color: #353131;
}
button.css-pg12qu.edgvbvh10 {
  background-color: white;
  border: 2px solid #06BBCC;
  color: #353131;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
}
pre.css-s37696.e10mrw3y3{
  background-color: #1F3D7C;
  border: 2px solid #06BBCC;
  color: white;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
}

div.css-183lzff.eyqtai90{
  color: #353131;
}

pre.css-1qcggol.e10mrw3y3 {
  background-color: #1F3D7C;
  border: 2px solid #06BBCC;
  color: white;
  padding: 1% 3% 3% 3%;
  border-radius: 5px;
}

/* Style inputs with type="text", type="email"and textareas */
input[type=text], input[type=email], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #24A4AC;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div.css-ocqkz7.e1tzin5v4 {
  background-color: #ffffff;
  border: 2px solid #ffffff;
 
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: #45a049;
}

div.streamlit-expanderHeader.st-ae.st-df.st-ag.st-ah.st-ai.st-aj.st-c4.st-dg.st-c5.st-dh.st-di.st-cl.st-cm.st-ar.st-as.st-b6.st-b5.st-b3.st-dj.st-ce.st-dk.st-b4.st-dl.st-cc.st-cd.st-cb.st-ca{
  background-color: #C2DFFF;
  border: 2px solid #D1F0FF;
  color: rgb(0, 0, 0);
  padding: 0.5% 0.5% 0.5% 0.5%;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
div.streamlit-expanderHeader.st-ae.st-dg.st-ag.st-ah.st-ai.st-aj.st-c5.st-dh.st-c6.st-di.st-dj.st-cm.st-cn.st-ar.st-as.st-b6.st-b5.st-b3.st-dk.st-cf.st-dl.st-b4.st-dm.st-cd.st-ce.st-cc.st-cb {
  background-color: #C2DFFF;
  border: 2px solid #D1F0FF;
  color: rgb(0, 0, 0);
  padding: 0.5% 0.5% 0.5% 0.5%;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
div.streamlit-expanderHeader.st-ae.st-dm.st-ag.st-ah.st-ai.st-aj.st-c4.st-dn.st-c5.st-do.st-dp.st-cl.st-cm.st-ar.st-as.st-b6.st-b5.st-b3.st-dq.st-ce.st-dr.st-b4.st-ds.st-cc.st-cd.st-cb.st-ca {
  background-color: #C2DFFF;
  border: 2px solid #D1F0FF;
  color: rgb(0, 0, 0);
  padding: 0.5% 0.5% 0.5% 0.5%;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
div.streamlit-expanderHeader {
  background-color: #C2DFFF;
  border: 2px solid #D1F0FF;
  color: rgb(0, 0, 0);
  padding: 0.5% 0.5% 0.5% 0.5%;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
